body{
    background-color:white; /*rgb(202, 238, 144)*/
    font-family: monospace;
    color: darkcyan;
}
button{
    background-color: transparent;
    background: none;
    border: none;
    color: darkcyan;
    font-family: monospace;
    cursor: auto;
    cursor: pointer;  
    font-size: 100%;

}
.dark-mode {
    background-color: black;
    color: black;
}

#username{
    color:white; 
    font-size: 16px;
}

nav{
}

#navbar{   
}

h1{
     color: darkcyan;
     font-family: 'Courier New';
}

#links{
    display: inline-block;
    background-color: darkcyan;
}

#accountlinks{
    text-decoration:none;
    background-color:transparent;
}

header {
    text-align: center;
    color: darkcyan;
}

#hr1{
    border: dotted 1.5px; 
    border-color: darkcyan; 
    width: 10%;
}

#summary{
}

#image1{
    width:500px; 
    height:270px;
}

a{  
    font-size: 105%;
    text-decoration:none;
    color:white;
    background-color: darkcyan;
    
}

p{  
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'courier new';
}

main{
    text-align: left;
    color: darkcyan;
}

#image2{
    background-size: cover;
    width: 40%;
    border: dotted 0px;
    border-radius: 50%;
}

#instagramlogo{
    position: relative;
    width:25px;
    height:25px;
}

#githublogo{
    position: relative;
    width:25px;
    height:25px;
}

#linkedinlogo{
    position: relative;
    width:27px;
    height:27px;
}
.instagramlogoposition{
    position: absolute;
    left: 1700px;
    bottom: 40px;
}
.githublogoposition{
    position: absolute;
    left: 1715px;
    bottom: 40px;
}
.linkedinlogoposition{
    position: absolute;
    left: 1730px;
    bottom: 40px;
}


.parent{
    position: relative;
}

.child{
    position: absolute;
    left: 1000px;
    bottom:75px;
}

.childsecond{
    position: absolute;
    left: 1037px;
    bottom: 60px;
}

.childthird{
    position: absolute;
    left: 1043px;
    bottom: 132px;
}


span::before { 
    content: "˘◡˘"; 
    animation: animate infinite 2s; 
    
} 

@keyframes animate { 
    /*‎ *//*⠀*/ 
    0% { 
        content: "˚◡˚"; 
    } 
    10% { 
        content: "˚◡˚"; 
    } 
    20% { 
        content: "˚◡˚"; 
    } 
    30% { 
        content: "˚◡˚"; 
    } 
    40% { 
        content: "˚◡˚"; 
    } 
    50% {
        content: "˚◡˚"; 
    } 
    60% { 
        content: "˚◡˚"; 
    } 
    70% { 
        content: "˚◡˚"; 
    } 
    80% { 
        content: "˚◡˚"; 
    } 
    90% { 
        content: "˚◡˚"; 
    } 
} 
 
section{
    color:darkcyan;
}


  
 
